
@{
    ViewBag.Title = "AgentContents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-xs-6">
        <h2 class="sub-header">Reports</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-6">List of Reports</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-12">
                            <div class="btn-group btn-group-justified">
                                <a href="@Url.Action("RPReport", "Reports")" class="btn btn-info">RP Reports</a>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="col-md-6">
                            <div class="btn-group btn-group-justified">
                                <a href="#" class="btn btn-info">AR Reports</a>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <a href="#" class="btn btn-info">Recon Reports</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <a href="#" class="btn btn-info">DD Reports</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <a href="#" class="btn btn-info">Commissions Report</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <a href="#" class="btn btn-info">EFT Reports</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

